---
import Layout from '../layouts/Layout.astro';
import Section from "../components/Section.astro";
import Card from "../components/Card.astro";

const response = await fetch('http://localhost:8080/api/v1/blog');
const data = await response.json();
---

<Layout title="Lucas GLMT. - Développeur web">
    <Section backgroundImagePath="/src/images/header-2.jpg">
        <div class="content">
            <h3>Blog</h3>
        </div>
    </Section>
    <div class="content">
        <div class="row articles">
            {data.map((item, index) => (
                <div class="col-sm-12 col-md-4 article">
                    <Card title={item.title}>{item.content}</Card>
                </div>
            ))}
        </div>
    </div>
</Layout>

<style>
    h3 {
        font-size: 2em;
    }

    .content {
        padding: 10px;
        text-align: center;
    }
</style>

